@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Source+Code+Pro:wght@700&display=swap");

/* font-family: 'Inter', sans-serif;
font-family: 'Source Code Pro', monospace;*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --amost-black: #8b8791;
  --almost-white: #f4f4f4;
}

body {
  background-color: var(--amost-black);
  color: var(--almost-white);
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
/* Nav Bar */
.flex-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding: 25px 50px;
}

.nav-list {
  list-style: none;
}

.nav-list li {
  display: inline-block;
  padding: 0 30px;
}

.flex-nav a {
  text-decoration: none;
  color: var(--almost-white);
  padding: 15px 15px;
}

.flex-nav a:hover {
  border-bottom: 2px solid;
}
.menu {
  display: none;
}

.menu-line {
  width: 25px;
  height: 2px;
  background-color: white;
  margin-top: 7px;
}

@media (max-width: 768px) {
  .menu {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .flex-nav {
    flex-direction: column;
  }

  .nav-list li {
    display: block;
    padding: 10px 0;
  }
  .nav-list {
    text-align: center;
  }
  .logo {
    position: absolute;
    left: 20px;
    top: 20px;
  }
  .nav-list {
    display: none;
    margin-top: 52px;
  }
}

.active {
  display: block;
}
/* End Nav Bar */

/* Hero Section */
h1 {
  font-size: 48px;
  font-family: "Source Code Pro", monospace;
  text-transform: uppercase;
}
h2 {
  font-weight: 500;
  padding: 6px 0 40px 0;
  font-size: 20px;
}

.hero-container {
  display: flex;
  padding: 52px 50px;
}

.p-hero {
  width: 80%;
}

.hero-left {
  flex: 1;
  padding: 42px 0 0 80px;
}

.emoji {
  margin-left: 40px;
  max-width: 65%;
}

.contact-button {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  padding: 16px 30px;
  border-radius: 21px;
  background-color: var(--almost-white);
  color: rgb(54, 54, 54);
  margin-top: 115px;
}
/* End Hero Section */

/* About Section */
.about-container {
  display: flex;
  padding: 42px 111px;
}

.about-right {
  flex: 1;
  margin-top: 20px;
}

.about-emoji {
  width: 40%;
}

h3 {
  margin-top: 100px;
  font-weight: 500;
  text-align: center;
}

.contact-button-about {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  padding: 16px 30px;
  border-radius: 21px;
  background-color: var(--almost-white);
  color: rgb(54, 54, 54);
  margin-top: 50px;
}

.p-about {
  width: 80%;
}
/* End About Section */
